* {
    margin: 0;
    padding: 0;
}

.box1 {
    width: 1600px;
    height: 1000px;
    background-image: url(../切图/images/Background.png);
    margin: 0 auto;
    position: relative;
}

.box2 {
    width: 900px;
    height: 100px;
    margin-top: -110px;
    margin-left: auto;
    margin-right: auto;
}

._p1 {
    color: rgb(226, 223, 223);
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    line-height: 450px;
}

._p2 {
    color: rgba(211, 203, 203, 0.315);
    text-align: center;
    font-weight: lighter;
}

.box3 {
    width: 1225px;
    height: 350px;
    margin-top: 100px;
    border: 1px solid rgba(129, 129, 129, 0.103);
    margin-left: 220px;
}

._p3 {
    color: rgb(226, 223, 223);
    text-align: center;
    font-weight: lighter;
    margin-top: 40px;
    font-size: 12px;
}

._p4 {
    color: rgba(141, 141, 141, 0.315);
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
    font-size: 6px;
}

.inp1 {
    width: 394px;
    height: 70px;
    margin-left: 100px;
    background: none;
    color: rgb(189, 188, 185);
    margin-top: 50px;
    border: 1px solid rgba(129, 129, 129, 0.103);
}

.inp2 {
    margin-top: 50px;
    width: 394px;
    height: 70px;
    margin-left: 30px;
    color: rgba(141, 141, 141, 0.315);
    background: none;
    border: 1px solid rgba(129, 129, 129, 0.103);
}

.inp3 {
    margin-top: 50px;
    width: 170px;
    height: 80px;
    margin-left: 30px;
    font-weight: lighter;
}

.box_1 {
    background-color: white;
    width: 1600px;
    height: 780px;
    position: relative;
    margin: 0 auto;
}

.box_2 {
    width: 1600px;
    height: 800px;
    background-image: url(../切图/images/Backgroundmid.png);
    position: relative;
    margin: 0 auto;
}

._p5 {
    text-align: center;
    font-weight: lighter;
    margin-top: 85px;
}

.box4 {
    width: 660px;
    margin: 0 auto;
}

._p6 {
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
    font-weight: lighter;
}

.box5 {
    margin: 80px auto;
    width: 1040px;
    height: 400px;
}

.box5::after {
    content: '';
    clear: both;
    visibility: hidden;
    display: block;
}

.box6 {
    width: 520px;
    height: 200px;
    float: left;
    box-sizing: border-box;
}

.box6 img {
    float: left;
    width: 60px;
    margin-right: 30px;
}

.box6-p1 {
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 55px;
}

.box7 {
    width: 370px;
    height: 90px;
    margin-left: 40px;
}

.box8 {
    width: 645px;
    height: 600px;
    border: 1px solid rgb(180, 179, 179);
    float: right;
    margin: 100px auto;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    box-sizing: border-box;
}

.box9 {
    height: 540px;
    width: 590px;
    background-image: url(../切图/前端学院设计图-assets/Screen.png);
    margin-top: 30px;
    margin-left: 60px;
}

.box10 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid rgb(170, 169, 169);
    float: left;
    margin-top: -280px;
    margin-left: 25px;
    background: none;
}

.box11 {
    width: 380;
    height: 440px;
    float: left;
    margin-left: 310px;
    margin-top: 220px;
    word-break: break-all;
}

._p7 {
    color: white;
    font-size: 28px;
    margin-bottom: 35px;
}

._p8 {
    color: rgba(211, 203, 203, 0.315);
    text-align: left;
    font-weight: lighter;
}

.inp4 {
    margin-top: 150px;
    width: 240px;
    height: 60px;
    font-weight: lighter;
    border: 1px solid rgba(129, 129, 129, 0.103);
}

.inp5 {
    margin-top: 150px;
    width: 240px;
    height: 60px;
    margin-left: 20px;
    font-weight: lighter;
    background: none;
    border: 1px solid rgba(129, 129, 129, 0.103);
    color: rgb(190, 190, 190);
}

.box_3 {
    position: relative;
    width: 1600px;
    height: 1640px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(196, 195, 195);
}

.box12 {
    width: 1600px;
    height: 580px;
    border-bottom: 1px solid rgb(196, 195, 195);
}

.box13 {
    width: 1010px;
    height: 580px;

    margin: 0 auto;
    box-sizing: border-box;
}

.box14 {
    display: block;
    float: left;
    width: 25%;
    height: 440px;
    margin-bottom: 80px;
    margin-left: 60px;
}

.box13 h2 {
    text-align: center;
    margin-top: 60px;
    font-weight: lighter;
    font-size: 36px;
}

.box14 h3 {
    margin-top: 60px;
    text-align: center;
    font-style: italic;
    font-size: 28px;
}

.box14 p {
    text-align: center;
    color: rgb(67, 67, 68);
}

.box15 {
    height: 1000px;
    width: 1600px;
    box-sizing: border-box;
}

.box16 {
    height: 500px;
    width: 990px;
    margin-left: 310px;
    position: relative;
}

.box16-left1 {
    background-image: url(../切图/前端学院设计图-assets/图层\ 3.png);
    width: 570px;
    height: 350px;
    position: relative;
    margin-top: 115px;
    position: absolute;
}

.box16-right1 {
    margin-top: 115px;
    width: 310px;
    height: 320px;
    margin-left: 670px;
    position: absolute;
}

.box16-right1 h3 {
    margin-top: 60px;
    color: rgb(53, 52, 52);
}

.box16-right1 p {
    margin-top: 30px;
    text-align: left;
    font-weight: lighter;
}

.box16-left2 {
    margin-top: 45px;
    width: 310px;
    height: 320px;
    margin-left: 0;
    position: absolute;
}

.box16-left2 p {
    margin-top: 30px;
    text-align: left;
    font-weight: lighter;
}

.box16-left2 h3 {
    margin-top: 60px;
    color: rgb(53, 52, 52);
}

.box16-right2 {
    background-image: url(../切图/前端学院设计图-assets/图层\ 4.png);
    width: 570px;
    height: 350px;
    margin-top: 45px;
    margin-left: 405px;
    position: absolute;
}

.box_4 {
    width: 1600px;
    height: 1080px;
    border-bottom: 1px solid rgb(196, 195, 195);
    margin: 0 auto;
}

.box_4-box1 {
    width: 1600px;
    height: 270px;

}

.box_4 h2 {
    margin-top: 90px;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
}

.box_4 p {
    margin-top: 30px;
    text-align: center;
    font-weight: lighter;
}

.box_4-box2 {
    width: 945px;
    height: 690px;

    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.box_4-box2-1 {
    height: 330px;
    width: 455px;

    position: absolute;
    background-image: url(../切图/前端学院设计图-assets/张思远大.png);
}

.box_4-box2-2 {
    height: 330px;
    width: 455px;

    position: absolute;
    margin-left: 490px;
    margin-right: 0;
    background-image: url(../切图/前端学院设计图-assets/2.png);
}

.box_4-box2-3 {
    position: absolute;
    height: 330px;
    width: 455px;

    margin-top: 355px;
    background-image: url(../切图/前端学院设计图-assets/3.png);
}

.box_4-box2-4 {
    position: absolute;
    height: 330px;
    width: 455px;
    margin-left: 490px;
    margin-top: 355px;
    background-image: url(../切图/前端学院设计图-assets/沈大师大_meitu_3.png);

}

.box_5 {
    width: 1600px;
    height: 705px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #cccccc;
}

.box_5-box1 {
    width: 486px;
    height: 705px;
    margin-left: 310px;
    position: absolute;
}

.box_5-box2 {
    width: 470px;
    height: 705px;

    margin: 816px;
    position: absolute;
    margin-top: 0;
}

.box_5-box1 h2 {
    text-align: center;
    margin-top: 115px;
    font-weight: lighter;
}

.inp6 {
    width: 420px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    text-indent: 2em;
    border: 1px solid rgb(158, 156, 156);
    color: rgb(146, 146, 146);
}

#inp7 {
    width: 420px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    text-indent: 2em;
    line-height: 50px;
    border: 1px solid rgb(158, 156, 156);
    color: rgb(146, 146, 146);
}

.inp7 {
    width: 420px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

.box_5-box2 h1 {
    margin-top: 160px;
    font-weight: lighter;
    margin-left: 80px;
}

.box_5-box2-p {
    color: lightslategrey;
    margin-left: 80px;
    margin-bottom: 100px;
}

.box17 {
    margin-top: 30px;
    width: 340px;
    height: 60px;
    margin-left: 80px;
}

.img1 {
    margin-top: 5px;
    float: left;
}

.box17-p {
    margin-left: 30px;
    color: black;
}

.box_6 {
    width: 1600px;
    height: 590px;
    margin: 0 auto;
    position: relative;
    background-color: #000000;
}

dl {
    width: 300px;
    height: 590px;
    margin: 100px 200px;
}

.dlink2 {
    position: absolute;
    margin-left: 500px;
}

.dlink1 {
    position: absolute;
}

.dlink3 {
    position: absolute;
    margin-left: 750px;
}

dd {
    margin-top: 50px;
    color: rgb(112, 112, 112);
}

dt {
    color: white;
}

.dlink4 {
    position: absolute;
    margin-left: 1050px;
}

.ddimg {
    color: rgb(112, 112, 112);
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}